{% extends 'base.html' %}
{% load static %}

{% block css %}

<link rel="stylesheet" type="text/css" href="{% static 'forum/css/creative.css' %}" />
{% endblock %}



    {% block body %}

      <body>
        <div style="padding: 200px 0 200px 0" class="container">
            <ol class="breadcrumb my-4">
              <li class="breadcrumb-item"><a href="{% url 'forum' %}">Heading</a></li>
              <li class="breadcrumb-item active">{{ heading.name }}</li>
            </ol>

            {% if user.is_authenticated %}

            <div class="mb-4">
                <a href="{% url 'new topic' heading.pk %}" class="btn btn-primary">New topic</a>
              </div> 

            {% else %}

            <div class="mb-4">
                <a href="#" class="btn btn-primary" role="button">Connectez-vous</a>
            </div>

            {% endif %}
            
            <table class="table">
              <thead class="thead-inverse">
                <tr>
                  <th>Topic</th>
                  <th>Starter</th>
                  <th>Replies</th>
                  <th>Views</th>
                  <th>Last Update</th>
                </tr>
              </thead>
              <tbody>
                  {% for topic in topics %}
                  <tr>
                    <td><a href="{% url 'topic posts' heading.pk topic.pk %}">{{ topic.subject }}</a></td>
                    <td>{{ topic.starter }}</td>
                    <td>{{ topic.replies }}</td>
                    <td>0</td>
                    <td>{{ topic.last_updated }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
      </body>

    {% endblock %}


    