{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'forum/css/creative.css' %}" />
{% endblock %}

    {% block body %}
      <body>
        <div style="padding: 200px 0 200px 0" class="container">
          <ol class="breadcrumb my-4">
            <li class="breadcrumb-item active">Forum Pur Beurre</li>
          </ol>
          <table class="table">
            <thead class="thead-inverse boardcolor">
              <tr>
                <th>Rubriques</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Dernier Post</th>
              </tr>
            </thead>
            <tbody>
              {% for heading in headings %}
                <tr>
                  <td>
                    <a href="{% url 'forum topics' heading.pk %}">{{ heading.name }}</a>
                    <small class="text-muted d-block">{{ heading.description }}</small>
                  </td>
                  <td class="align-middle">{{ heading.get_posts_count }}</td>
                  <td class="align-middle">{{ heading.topics.count }}</td>
                  <td>
                    {% with post=heading.get_last_post %}
                      {% if post %}
                        <small>
                          <a href="{% url 'topic posts' heading.pk post.topic.pk %}">
                            By {{ post.created_by }} at {{ post.created_at }}
                          </a>
                        </small>
                      {% else %}
                        <small class="text-muted">
                          <em>No posts yet.</em>
                        </small>
                      {% endif %}
                    {% endwith %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </body>
    {% endblock %}